version: '3'

networks:
  app-tier:
    driver: bridge

services:
  postgresql:
    image: "postgres:latest"
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_DATABASE=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  gcp-pubsub:
    image: gcr.io/google.com/cloudsdktool/google-cloud-cli:emulators
    ports:
      - "8085:8085"
    command:
      [
        "gcloud",
        "--quiet",
        "beta",
        "emulators",
        "pubsub",
        "start",
        "--host-port",
        "0.0.0.0:8085",
        "--project",
        "wolverine",
        "--verbosity",
        "debug",
        "--log-http",
        "--user-output-enabled",
      ]
  
  rabbitmq:
    image: "rabbitmq:management"
    ports:
      - "5672:5672"
      - "15672:15672"

  sqlserver:
    image: "mcr.microsoft.com/azure-sql-edge"
    ports:
      - "1434:1433"
    environment:
      - "ACCEPT_EULA=Y"
      - "SA_PASSWORD=P@55w0rd"
      - "MSSQL_PID=Developer"

  pulsar:
    image: "apachepulsar/pulsar:latest"
    ports:
      - "6650:6650"
      - "8080:8080"
    command: bin/pulsar standalone

  localstack:
    image: localstack/localstack:stable
    ports:
      - "127.0.0.1:4566:4566"            # LocalStack Gateway
      - "127.0.0.1:4510-4559:4510-4559"  # external services port range
    environment:
      - DEBUG=${DEBUG-}
      - PERSISTENCE=${PERSISTENCE-}
      - LAMBDA_EXECUTOR=${LAMBDA_EXECUTOR-}
      - LOCALSTACK_API_KEY=${LOCALSTACK_API_KEY-}  # only required for Pro
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 22181:2181
  
  kafka:
    image: confluentinc/confluent-local:latest
    ports:
      - "8082:8082"
      - "9092:9092"
      - "9101:9101"
        
  redis-server:
    image: "redis:alpine"
    command: redis-server
    ports:
      - "6379:6379"

  nats:
    image: "nats:latest"
    ports:
      - "4222:4222"
      - "8222:8222"
    command: ["--jetstream", "-m", "8222"]

  mysql:
    image: "mysql:8.0"
    ports:
      - "3306:3306"
    environment:
      - "MYSQL_ROOT_PASSWORD=P@55w0rd"
      - "MYSQL_DATABASE=wolverine"