<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="jasperfx" value="https://nuget-server.jasperfx.net/v3/index.json" />
    <add key="parallax-github" value="https://nuget.pkg.github.com/rightteaminc/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="jasperfx">
      <package pattern="Polecat" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="parallax-github">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
