name: Publish docs

on: [ workflow_dispatch ]

jobs:
  publish_docs_job:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 8.0.x
          
      - name: Setup .NET 9
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 9.0.x
          
      - name: Setup .NET 10
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 10.0.x

      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 20.x

      - name: Build & Deploy docs
        run: ./build.sh publish-docs
        if: ${{ github.ref == 'refs/heads/main' }}
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}

      # - name: Generate Algolia DocSearch index
      #   uses: darrenjennings/algolia-docsearch-action@master
      #   with:
      #     algolia_application_id: ${{ secrets.ALGOLIA_APPLICATION_ID }}
      #     algolia_api_key: ${{ secrets.ALGOLIA_API_KEY }}
      #     file: 'docs/.vitepress/algolia-config.json'
